<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/headHTML.html :: head"></head>
<body>
  <header th:insert="blocks/header.html :: header"></header>
  <div class="container">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-dark border rounded mt-4 bg-white">
      <div class="row">
        <div th:each="item : ${products}" class="col-md-3 alert alert-info m-3 border">
          <div style="height: 150px">
            <img th:src="@{${item.getPicturePath()}}" class="h-100 mx-auto mb-3">
          </div>
          <p th:text="'Название: ' + ${item.name}"/>
          <p th:text="'Цена: ' + ${item.price}"/>
          <p th:text="'Количество товара: ' + ${item.amount}"/>
          <p th:text="'Рейтинг: ' + ${item.rating}"/>
          <a th:href="'catalog/item/' + ${item.id}" class="btn btn-warning">Детальнее</a>
        </div>
      </div>
    </div>
  </div>
  <div th:insert="blocks/footer.html :: footer"></div>
</body>
</html>