<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/headHTML.html :: head"></head>
<body>
  <header th:insert="blocks/header.html :: header"></header>
  <div class="container">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-dark border rounded mt-4 bg-white">
      <H1>
        Как возникли службы доставки еды?
      </H1>
      <p>
        Современный темп жизни, особенно в крупных городах,
        чаще всего не оставляет нам шансов на создание собственных кулинарных шедевров — нам просто некогда,
        к тому же иногда так хочется просто отдохнуть. Проблема питания вынудила предпринимателей задуматься,
        как найти выход из этого положения? И выход был найден – доставка еды на дом!
      </p>
      <p>
        Почти три десятка лет доставка еды спасает нас от лишних хлопот.
        Сегодня мы можем заказать еду за считанные минуты как на дом, так и в офис.
        Неудивительно, что первым продуктом, на который стала действовать доставка еды, стала пицца!
        В мире пицца считается самым удобным способом перекусить, а сделать перекус максимально быстрым позволила доставка еды.
      </p>
      <p>
        Принято считать, что самая первая доставка еды была организована в 1889 году,
        а совершил ее хозяин и шеф-повар неапольской пиццерии Рафаэле Эспозито.
        Свою потрясающе вкусную пиццу он доставил итальянским королю и королеве.
        Они приехали в Неаполь с визитом, но обед в пиццерии, разумеется, в их планы не входил.
        И тогда находчивый Эспозито решил привезти им пиццу самостоятельно.
      </p>
      <p>
        Спустя полвека, уже в 1950-х – 1960-х годах, производство и доставка еды, в частности именно пиццы,
        в странах Европы была налажена итальянскими иммигрантами, бежавшими от войны.
        А после Второй мировой войны, пицца обрела свою популярность и в Соединенных Штатах.
        Этому способствовали вернувшиеся из Италии американские солдаты.
        По возвращению домой многие из них решили открыть свои заведения по выпечке пиццы на дому.
        Доставка еды осуществлялась сначала на велосипедах, а вскоре курьеры пересели и на автомобили.
      </p>
      <p>
        Этот сервис по достоинству оценили покупатели, и так доставка еды стала набирать свою популярность.
        Еще одну важную новацию в сервис доставки еды внес в конце 1960-х Том Манаган из Мичигана,
        который возглавлял сеть пиццерий Domino.
        Ресторатор придумал для своей доставки пиццы коробки из картона.
        Это позволяло долго сохранить тепло свежевыпеченной пиццы, а также защитить ее от повреждений по пути.
        В гофрированном картоне доставляют на сегодняшний день не только пиццу, но и готовые обеды.
      </p>
      <p>
        Манаган не только придумал коробку для пиццы, но и первым стал доставлять еду бесплатно.
        Доставка еды в течение получаса в любой уголок города – вот что стало девизом его работы.
        Эти новшества оценили далеко не сразу. Курьерам приходилось очень спешить, чтобы успеть доставить в срок еду,
        из-за этого они часто попали в аварии.
      </p>
      <p>
        Том Манаган не остановился на внедрении этих новшеств и для того, чтобы получить полное превосходство над конкурентами,
        придумал специальную сумку для своей пиццы с электрическим подогревом.
        Все эти идеи до сих пор активно используются торговцами.
        В России доставка еды появилась всего лишь менее четверти века назад, в 1990-е годы.
      </p>
      <p>
        Сегодня доставка еды стала довольно привычной услугой.
        Ежедневно тысячи заказов отправляются в офис и на дом, чтобы люди могли отведать вкусную и максимально свежую еду.
      </p>
      <p>
        А мы свой путь только начинаем!
      </p>
    </div>
  </div>
  <div th:insert="blocks/footer.html :: footer"></div>
</body>
</html>